
@{
    ViewBag.Title = "IMSDetails";
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>
<body>


    <main id="main">

        <!-- ======= Our Portfolio Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>IMS Details</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li>IMS Service Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Our Portfolio Section -->
        <!-- ======= Why Us Section ======= -->
        <section class="team">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 video-box">
                        <img src="~/Content/assets/img/why-us.png" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center ">

                        <p class="description">This software is the best solution for managing and growing institutions. This software helps from inquiry follow ups, registration, batch allocation, auto attendance, sending Absent SMS to parents, test result management and many more features. In short, it helps manage Students, Teachers, Courses, Batches, Fees, Attendance, and Marks.</p>
                        <p class="description">The software provides easy reports such as payment received daily, weekly, and monthly, outstanding fees, marks, attendance, and more. Reports are available in one click to manage your business such as follow-up details, admissions, payments, attendance, Certificate and more.</p>
                        <p class="description">IMS was developed after gathering requirements from several institutions in different fields. Many features are added to the software over the years based on requirements from existing clients. This software is very easy to use as it is developed by keeping in mind that most of the operators are not technically savvy and are not typically geeks. In addition to organizing the institute information, this software ensures that the owner saves money and time.</p>

                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->
    </main>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/noframework.waypoints.js"></script>
</body>

</html>

