
@{
    ViewBag.Title = "PANDetails";
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>
<body>


    <main id="main">

        <!-- ======= Our Portfolio Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>PAN Details</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li>PAN Service Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Our Portfolio Section -->
        <!-- ======= Why Us Section ======= -->
        <section class="team">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 video-box">
                        <img src="~/Content/assets/img/PANCARD.jpg" class="img-fluid" alt="">

                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center ">

                        <p class="description">The Permanent Account Number (PAN) is a unique ten-digit alphanumeric number issued by the Government of India to all tax payers. It is a universal identification tool that tracks all financial transactions taxable by the Government. This permanent number assigned to the PAN holder serves as an essential ID proof. It is allotted to each tax payer by the Income Tax Department of India under the supervision of the Central Board of Direct Taxes. The PAN does not change during the lifespan of the PAN holder.</p>
                        <p class="description">
                            An applicant may either make an online application through this website or submit a physical PAN application to any TIN-FC or PAN centers of Income Tax Department . The applicant is required to submit the following documents with the application form:<br>
                            A] Proof of identity (POI)
                            B] Proof of address (POA)
                            <br>
                            Note: The documents for the above are dependent on citizenship and status of the applicant. Details pertaining to these documents are also mentioned in the application form.

                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->


    </main><!-- End #main -->
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/noframework.waypoints.js"></script>
</body>

</html>

