
@{
    ViewBag.Title = "PricingPolicy";
    <a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>
<body>


    <main id="main">

        <!-- ======= Contact Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Pricing Policy</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Pricing Policy</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Contact Section -->
        <!-- ======= Contact Section ======= -->
        <section class="pricing" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">

                <div class="section-title">
                    <h2>Price Range</h2>
                    <p>At ASN TECHNOSOFT we have customized pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically, the range of transactions on our website varies from INR 100 to 22500.</p>
                    <p>The pricing depends on the services requested by customer and agreed on order confirmation in case of quote is provided.</p>
                </div>

                <div class="section-title">
                    <h2>Schedule of payment</h2>
                    <p>Some of our services can be utilized for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year.</p>

                </div>


                <div class="section-title">
                    <h2>Sale Adjustment</h2>
                    <p>If a service you have availed is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per service originally purchased on sale are excluded.</p>
                </div>


                <div class="section-title">
                    <h2>Pricing Errors</h2>
                    <p>We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If a service’s price is higher than the price displayed, we will cancel your order of that service and notify you of the cancellation.</p>
                </div>


                <div class="section-title">
                    <h2>Shopping Cart</h2>
                    <p>Services in login reflect the current price displayed on the service’s product details page. Please note: This price may differ from the price displayed when the service was first placed in your login.</p>
                    <p>Our service is offered for sale by ASN TECHNOSOFT for your personal use and not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe may be purchasing for resale.</p>
                    <p>Our Customer Service Specialists are ready to assist you—simply call 9850455570 between office hours 9 am to 6 pm in working days.</p>

                </div>


            </div>

        </section><!-- End Contact Section -->



    </main><!-- End #main -->
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/noframework.waypoints.js"></script>
</body>

</html>
